@charset "ISO-8859-1";

html, body {
  height:100%;
  width:100%;  
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container for tbRows */
.divTbRow{
    height:auto;
    width:auto;
    padding:0;
}

/* Table containing source rows */
table#tbRows{
    border: 1px solid black;  
    border-collapse: collapse;  
	padding: 0px;
	height: auto;
    width: 520px;	
    margin-top:0;
    margin-bottom:auto;
	margin-left: 3px;		
	margin-right: 0px;
	cellspacing: 0;
    background-color: white;  		
}

/* Overall row in tbRows */
.trAll {
	border: 0;
	margin-top: 0;
    margin-bottom: 0;
    height: 15px;
}

/* +, - at the beginning of the row */
.plusMinus {
  	margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: small;
}

/* Instruction number */
.nInstr {
	margin-top: 0;
    margin-bottom: 0;	
	width: 15px;
	padding	:0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	font-style: oblique;
	font-size: 12;
	font-weight: bold;
	color: black;
    background-color: #e8e8e8;
}

/* Row number */
.nRow{
	margin-top: 0;
    margin-bottom: 0;	
	width: 15px;
	padding	:0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	font-style: oblique;
	font-size: x-small;
	font-weight: bold;
    color: grey;	
    background-color:#e8e8e8;
}

/* Comment on the left side cols 1-6 */
.commLeft{
	margin-top: 0;
    margin-bottom: 0;	
	width: 20px;
	padding	:0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	border-right: 1px solid grey;
	font-style: oblique;
	font-size: x-small;
	color: grey;
    background-color: white;
} 

/* Source row cols 7-72 */
.row{
	margin-top: 0;
    margin-bottom: 0;	
	width: auto;
	padding	:0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	border-right: 1px solid grey;
	font-style:normal; 
	font-family: monospace;
	font-size: 75%;
	text-align: left;
	color:  blue; 
	
}

/* Comment on the right side cols 73-80 */
.commRight {
	margin-top: 0;
    margin-bottom: 0;	
	width: 20px;
	padding	:0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	border-right: 1px solid grey;
	font-style: oblique;
	font-size: x-small;
	color: grey;
    background-color: white;
	
}